.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.gridItem {
  display: inline-block;
  font-size: $spacing-base;
}

.grid.gutterSize-xs {
  margin-left: -$spacing-xxs;
}

.grid.gutterSize-xs  >
.gridItem {
  padding-left: $spacing-xxs;
}

.grid.gutterSize-s {
  margin-left: -$spacing-xs;
}

.grid.gutterSize-s  >
.gridItem {
  padding-left: $spacing-xs;
}

.grid.gutterSize-m {
  margin-left: -$spacing-m;
}

.grid.gutterSize-m  >
.gridItem {
  padding-left: $spacing-m;
}

.grid.gutterSize-l {
  margin-left: -$spacing-xl;
}

.grid.gutterSize-l  >
.gridItem {
  padding-left: $spacing-xl;
}

.grid.gutterSize-xl {
  margin-left: -$spacing-xxl;
}

.grid.gutterSize-xl  >
.gridItem {
  padding-left: $spacing-xxl;
}

.grid.gutterSize-z {
  margin-left: 0;
}

.grid.gutterSize-z  >
.gridItem {
  padding-left: 0;
}

.grid.direction-ltr {
  direction: ltr;
  text-align: left;
}

.grid.direction-rtl {
  direction: rtl;
  text-align: left;
}

.grid.direction-rtl >
.gridItem {
  direction: ltr;
  text-align: left;
}

.grid.verticalAlign-top >
.gridItem {
  vertical-align: top;
}

.grid.verticalAlign-middle >
.gridItem {
  vertical-align: middle;
}

.grid.verticalAlign-bottom >
.gridItem {
  vertical-align: bottom;
}

.grid.horizontalAlign-left {
  text-align: left;
}

.grid.horizontalAlign-right {
  text-align: right;
}

.grid.horizontalAlign-right >
.gridItem {
  text-align: left;
}

.grid.horizontalAlign-center {
  text-align: center;
}

.grid.horizontalAlign-center >
.gridItem {
  text-align: left;
}

.grid.width-fitted >
.gridItem {
  width: auto;
}

.grid.width-full >
.gridItem {
  width: 100%;
}
