[data-component="Grid"] {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

[data-component="GridItem"] {
  display: inline-block;
  font-size: $spacing-base;
}

[data-component="Grid"][data-gutter-size="xs"] {
  margin-left: -$spacing-xxs;
}

[data-component="Grid"][data-gutter-size="xs"]  >
[data-component="GridItem"] {
  padding-left: $spacing-xxs;
}

[data-component="Grid"][data-gutter-size="s"] {
  margin-left: -$spacing-xs;
}

[data-component="Grid"][data-gutter-size="s"]  >
[data-component="GridItem"] {
  padding-left: $spacing-xs;
}

[data-component="Grid"][data-gutter-size="m"] {
  margin-left: -$spacing-m;
}

[data-component="Grid"][data-gutter-size="m"]  >
[data-component="GridItem"] {
  padding-left: $spacing-m;
}

[data-component="Grid"][data-gutter-size="l"] {
  margin-left: -$spacing-xl;
}

[data-component="Grid"][data-gutter-size="l"]  >
[data-component="GridItem"] {
  padding-left: $spacing-xl;
}

[data-component="Grid"][data-gutter-size="xl"] {
  margin-left: -$spacing-xxl;
}

[data-component="Grid"][data-gutter-size="xl"]  >
[data-component="GridItem"] {
  padding-left: $spacing-xxl;
}

[data-component="Grid"][data-gutter-size="z"] {
  margin-left: 0;
}

[data-component="Grid"][data-gutter-size="z"]  >
[data-component="GridItem"] {
  padding-left: 0;
}

[data-component="Grid"][data-gutter-size="ltr"] {
  direction: ltr;
  text-align: left;
}

[data-component="Grid"][data-gutter-size="rtl"] {
  direction: rtl;
  text-align: left;
}

[data-component="Grid"][data-direction="rtl"]  >
[data-component="GridItem"] {
  direction: ltr;
  text-align: left;
}

[data-component="Grid"][data-v-align="top"] >
[data-component="GridItem"] {
  vertical-align: top;
}

[data-component="Grid"][data-v-align="middle"] >
[data-component="GridItem"] {
  vertical-align: middle;
}

[data-component="Grid"][data-v-align="bottom"] >
[data-component="GridItem"] {
  vertical-align: bottom;
}

[data-component="Grid"][data-h-align="left"] {
  text-align: left;
}

[data-component="Grid"][data-h-align="right"] {
  text-align: right;
}

[data-component="Grid"][data-h-align="right"] >
[data-component="GridItem"] {
  text-align: left;
}

[data-component="Grid"][data-h-align="center"] {
  text-align: center;
}

[data-component="Grid"][data-h-align="center"] >
[data-component="GridItem"] {
  text-align: left;
}

[data-component="Grid"][data-width="fitted"] >
[data-component="GridItem"] {
  width: auto;
}

[data-component="Grid"][data-width="full"] >
[data-component="GridItem"] {
  width: 100%;
}
